.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment > img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox {
  /* Faz com que a div commentBox oculpe o máximo de espaço possível.*/
  flex: 1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Podemos formatar de duas maneiras a primeira com display flex + flex-direction: column ou colocando display block em cada elemento.

.authorAndTime {
  display: flex;
  flex-direction: column;
}

Segunda opção para formatar: */
.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}
.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}


.commentContent header button {
  background: transparent;
  border: none;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0; /* Faz com que a borda fique colada no ícone quando o elemento estiver com o foco*/
  /* font-size: 0; */  /* Assim como o comando anterior, faz com que a borda fique colada no ícone quando o elemento estiver com o foco*/
  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  border-radius: 2px;

  /* Faz com que o ícone, o texto Aplaudir e a contagem fique alinhadas na altura */
  display: flex;
  align-items: center;
}

.commentBox footer button:hover {
  color: var(--green-300);
}

/* Todos os ícones importados pelo React são SVG */
.commentBox footer button svg {
  margin-right: 0.5rem;
}

/* O before neste caso simula a criação de um novo elemento dentro do span, e esse elemento recebe a formatação. */
.commentBox footer button span::before {
  content: "\2022"; /* Utilizado para inserir um pontinho*/
  padding: 0 0.25rem;
}